{% extends 'base.html' %}

{% block title %}Edit Post Detail{% endblock %}

{% block content %}
<div class="container">
    <h1>Edit Post</h1>
    <form action="/posts/{{post.id}}/edit" method="post">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" name="title" value="{{post.title}}" class="form-control mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea name="content" id="content" rows="3" class="form-control mb-3">{{post.content}}</textarea>
        {% for tag in tags %}
        <div>
            <input type="checkbox" name="tag" id="{{tag.name}}" value="{{tag.name}}" {% if tag in active_tags %}checked{% endif %}>
<!--            <input type="checkbox" name="tag-{{tag.id}}" id="{{tag.name}}" {% if tag in active_tags %}checked{% endif %}>-->
            <label for="{{tag.name}}">{{tag.name}}</label>
        </div>
        {% endfor %}
        <button type="submit" formaction="/users/{{post.user.id}}" formmethod="get" class="btn btn-outline-info">Cancel</button>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
{% endblock %}